<!--":title" は applicant.html.erbにて使用-->
<% provide(:title, "【サービス名】") %>

<!--ログインしている場合-->
<% if user_signed_in? %>

<div class="container-fluid" >
  <div class="jumbotron">
    <h1>ログイン済み</h1>
    <div class="center"><%= link_to "手紙を送る",new_letter_url, class: "btn btn-lg btn-primary" %></div>
    <h2></h2>
    <div class="center"><%= link_to "ポストを見る",inbox_user_url(id:current_user.id), class: "btn btn-lg btn-primary" %></div>
  </div>
</div>

<!--ログインしていない場合-->
<% else %>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">拝啓 だれか</h1>
      <h2></h2>
      <div class="center"><%= link_to "Twitterで始める",??, class: "btn btn-lg btn-primary" %></div>
      <h2></h2>
      <div class="center"><%= link_to "メールアドレスで始める",new_user_registration_url, class: "btn btn-lg btn-primary" %></div>
    </div>
  </div>
<% end %> 