<!--":title" は applicant.html.erbにて使用-->
<% provide(:title, "【サービス名】") %>

<!--ログインしている場合-->
<% if user_signed_in? %>
  <div class="center jumbotron">
    <h1>ログイン済み</h1>
    <h2></h2>
    <div><%= link_to "手紙を送る",??, class: "btn btn-lg btn-primary" %></div>
    <h2></h2>
    <div><%= link_to "ポストを見る",??, class: "btn btn-lg btn-primary" %></div>
  </div>

<!--ログインしていない場合-->
<% else %>
    <div class="center jumbotron">
    <h1>拝啓 だれか</h1>
    <h2></h2>
    <div><%= link_to "Twitterで始める",??, class: "btn btn-lg btn-primary" %></div>
    <h2></h2>
    <div><%= link_to "メールアドレスで始める",new_user_registration_url, class: "btn btn-lg btn-primary" %></div>
  </div>
<% end %> 