<!--":title" は applicant.html.erbにて使用-->
<% provide(:title, "【サービス名】") %>

<div class="top-screen ">

  <section class="area">
    <div class=" top-title">
      <h1 class="text-white center display-1 bold"><strong>SomeOneLetter</strong></h1>
    </div>

    <div class="top-authentication">
      <%= link_to "新規登録", new_user_registration_url, class: "btn custom btn-clear m-3" %><br>
      <%= link_to "ログイン",new_user_session_path, class: "btn custom btn-clear m-3" %>
    </div>
  </section>

  <section id="page-1" class="area" ;>
    <div class="top-p2-title">
      <h1 class="text-white center display-1"><strong>手紙。書いてますか？</strong></h1><br><br>
    </div>
    <div class="top-p2-body">
      <h1 class="text-white center">「SomeOneLetter」 は <br>
      手紙を瓶に詰めて海に流す営みから着想を得た、<br>
      世界一気軽なマッチング型文通サービス です。<br><br>
      </h1>
    </div>
    
  </section>

  <section id="page-2" class="area" ;>
    <div class="card">
    </div>
  </section>

</div>