<%# "返信待ちボタン"から呼び出されるmodal %>

<%# 入力用modal %>
<div id="no-reply-modal" class="modal hide" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">返信待ちです</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       相手からの返信をまちましょう💦
      </div>
      <div class="modal-footer center">
        <button type="button" class="btn custom-btn btn-secondary" data-bs-dismiss="modal">とじる</button>
      </div>
    </div>
  </div>
</div>