<%# inboxページのユーザーをリスト表示するためのパーシャル %>

<button class="card inbox-col " onclick="location.href='<%=inbox_user_url(id:current_user.id)%>'">
  <div class="row">
    <div class="col image"> 
        <%= if user.image.attached?
            image_tag user.image, size: "60x60", class:"center-block rounded-circle"
        else image_tag "bottle_ship.png",size:"60x60", class:"center-block rounded-circle"
        end %> 
    </div>
    
    <div class="col body">
      <div class="name"><%= user.name %></div>
    </div>
  </div>
</button>