@import "bootstrap-sprockets";
@import "bootstrap";

//全般的なcssを定義

$gray-medium-light: #eaeaea;

#flash {
  margin: 0 auto;    //ブロック要素レベルで中央揃え
}

.body_not_signed {
  background: url("top.jpg") center no-repeat;
  background-attachment: fixed;
  background-color:#e1e1e1;
  background-size:cover ;
}
.body_signed_in {
  margin: auto;
  background: #e1e1e1 center no-repeat;
  background-attachment: fixed;
  background-size:cover ;
}

#main {
  margin:auto;
  &.signed-in{
    max-width: 700px;
  }
}
  
  textarea {
    //要素の寸法の可変設定
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  /* typography */
  
  h1, h2, h3, h4, h5, h6 {
    //line-height: 1;
  }
  
  h1 {
    font-size: 4em !important;
    letter-spacing: -2px !important ;
    text-align: center !important;
  }

  h2 {
    font-size: 3em !important;
    letter-spacing: -2px !important ;
    text-align: center !important;
  }

  h3 {
    font-size: 2.5em !important;
    letter-spacing: -2px !important ;
    text-align: center !important;
  }