@import "bootstrap-sprockets";
@import "bootstrap";

//全般的なcssを定義

$gray-medium-light: #eaeaea;

#flash {
  margin: 0 auto;    //ブロック要素レベルで中央揃え
}

.body_not_signed {
  background: url("top_dark_2") center no-repeat;
  background-attachment: fixed;
  background-size:cover ;
}
.body_signed {
  margin: auto;
  background: #e1e1e1 center no-repeat;
  background-attachment: fixed;
  background-size:cover ;
}

#main {
  margin:auto;
  &.signed-in{
    max-width: 700px;
  }
}
  
  textarea {
    //要素の寸法の可変設定
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
.login-form-card {
  margin-top:   20vh;
  margin-left:  auto;
  margin-right: auto;

  padding: 3% 7% 3% 7%;

  width: 70%;
  max-width: 440px;
  opacity:0.9;
  border-radius: 2.0rem !important;
}

.bold{
  font-weight: 900 !important;
}