あなたは不思議な手紙を拾いました。<br>
 ~~ someoneletter ~~<br>
1.この手紙を瓶に詰めて海に流す(匿名手紙)と、必ず "同じsomeoneletterを持つ誰か" のもとへ流れ着きます。<br>
2 手紙の返事を書いて海に流す(返信手紙)と、必ず"手紙の送り主"のもとへ流れ着きます。<br>

!!注意!!<br>
・宛先のない手紙は「3日」で別の誰かのもとへ流れてしまいます。浜辺はこまめに確認しましょう。<br>
  ※返信手紙は破棄しない限り、残り続けます。<br>
・「不適切な文言」を含むと判断された手紙は、誰のもとにも届きません。</div>