<%#
  手紙を入力するform。
  新規作成、返信の2ケースにて呼び出される
    type: new    => letters/:id 
    type: reply  => letters/:id/reply 
%>

<%# 変数定義(new or reply) %>
<% case type when "new"%>
<% url = "/letters"%>
<% title = "タイトル(必須)"%>
<% title_default = "この手紙を呼んでいるあなたへ"%>
<% match_room_id = "" %>

<% when "reply"%>
<% url = "/letters/1/reply"%>
<% title = "宛先"%>
<% title_default = "#{@inbox_record.to_user.name}さんへ"%>
<% match_room_id = @letters.first.match_room_id %>
<% end %>

<%# 入力用form %>
<%= form_with(model: Letter.new, id:"cleate-letter-form", class:"custom-form", local: false) do |f| %>
  <%= f.hidden_field :match_room_id, :value => match_room_id, name:"form-room-id" %>
  
  <div class="form-column">
    <%= f.text_field :title, placeholder: title, value: title_default, class: "form-control center-block", name:"form-title",required: true %>
  </div>

  <div class="form-column">
    <%= f.text_area :content, placeholder: "本文", class:"form-control text  center-block", name:"form-content",required: true %>
  </div>

  <div class="form-action text-center">
    <%# jsにて、form取り込み => #preview-modal起動  %>
    <button type="button" class="btn custom btn-secondary m-1" data-bs-dismiss="modal">閉じる</button>
    <button name="submit" type="button" class="btn custom btn-primary m-1" onclick="ShowPreviewModal(this);">確認</button>
  </div>

<% end %>