
.edit-form {
  margin: auto; //上右下左
  margin-left: 15%;
  margin-right: 15%;

  .form-field {         
      .form-control {
          &.text { height: 80px; }
      }
  }
  .form-image-file {
   margin: auto; 
  }


  .form-action {
      margin: 20px 0px 20px 0px;
  }

}
  .edit-card {
    margin: auto;
    border-radius: 1.25rem !important;
    padding: 5% 0% 5% 0%;
    width: 70%;
  }
