#preview-modal {
  .modal-footer{
    justify-content: center;
  }
}

#explanation-form {
  text-align: center;
  padding: 15px 0px 15px 0px;
  .title{
    font-size: large;
    font-weight: bold;    
  }
  .content{
    text-align: left;
    font-weight: bold;
  }
  .alert-content{
    font-size: small;
    text-align: left;
    font-weight: bold;
  }
}

.home-profile {
  width: 120px;
  margin: auto;
  .link {
    text-decoration: none;
    color: black;
  }
}
.home-profile-name {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.home-col-card {
  margin: 0px 5px 30px 5px;
  text-decoration: none;
  color: black;
  border-radius: 1rem !important;
  padding-top: 30px;
  padding-bottom: 30px;  
  background-color: #ffffff75 !important;
  &:hover {
    text-decoration: none;
    color: black;   
    background-color: #ffffff !important;
  }
}

.home-col-image {
  margin:auto;
  text-align: center;
}
.home-col-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.home-card{
  margin: 40px 5px 40px 5px ;
  border-radius: 2.0rem !important;
  background-color: #ffffff75 !important;
  min-width: 200px;
   .home-head{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
   }
   .inner-card{
    padding: 15px 0px 15px 0px; 
    margin: auto;
    width: 70%;
    border-radius: 2em;
    }
   .home-body{
    &.mr-10p{ padding-left:10% ;}
    &.mr-20p{ padding-left:20% ;}
   }
}
