#preview-modal {
  .modal-footer{
    justify-content: center;
  }
}

#explanation-form {
  text-align: center;
  padding: 15px 0px 15px 0px;
  .title{
    font-size: large;
    font-weight: bold;    
  }
  .content{
    text-align: left;
    font-weight: bold;
  }
  .alert-content{
    font-size: small;
    text-align: left;
    font-weight: bold;
  }
}

.home-upper-side {
  margin-bottom: 40px;
  .name {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  }
}
#home-container{
  margin: 0px 5px 0px 5px ;
  flex-wrap: wrap;
  align-content: flex-start;
}

.home-col-card {
  border-radius: 1rem !important;
  margin:  6px;
  padding-top: 30px;
  padding-bottom: 25px;  
  height: fit-content;
  background-color: #ffffff75 !important;
  &:hover {
    background-color: #ffffff4a !important;
  }
}

.home-col-image {
  margin:auto;
  text-align: center;
}
.home-col-text {
  margin: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

