.inbox_header {
  font-size: 2rem !important;
	font-weight: bold;
}

#inbox_button-row {
    margin : 10px 0px 0px 0px;

    .trash {
      padding : 6px 0px 10px 0px;
      height : 30px;
      border-radius:  1.0rem;
      text-align: center;
    }
    .release {
      margin : 0px 5px 0px 0px;
      height : 30px;
      padding : 6px 0px 10px 0px;
  
      border-radius:  1.0rem;
      text-align: center;
    }
    .replay {
      padding : 6px 0px 10px 0px;
      height : 30px;
      border-radius:  1.0rem;
      text-align: center;
    }
  }

.reply_icon {
  font-size: 1rem;
  background-color: pink;
  grid-template-columns: 10px;
}

.time_stamp {
  text-align: right;
}

.inbox-card {
  text-decoration: none;
  color: #000000;
  //border: 1px solid rgba(255, 255, 255, 0);
  &:hover{
    text-decoration: none;
    background-color: #f3f3f3;
    color: #000000;
    // border: 1px solid rgb(0, 0, 0);
    }
}

.inbox-record {
  display: flex;
  height:80px;
  .inbox-image {
    margin-right: 4px;
    flex-basis: 80px;
  }
  .inbox-body{
    flex-grow:2;
    .inbox-name{
      font-weight: bold;
      font-size: 2.1rem;
    }
    .inbox-content{
      font-weight: lighter;
      font-size: 1.5rem;
    }
  }
  .inbox-time {
    line-height: 80px;
    font-size: 1.5em;
    flex-basis: 128px; 
   text-align: right;
  }
  .inbox-tag {
     line-height: 80px;
     font-size: 17px;
    .new-tag      { background-color: greenyellow;
                    margin-right: 2px; }
    .mine-tag     { background-color: #d9d9d9;
                    margin-right: 2px; } 
    .replyable_tag{ background-color: aqua;}
  }
}