//
// 全体のレイアウト
//
.letter{
	width:  400px;
	margin: auto;
	padding: 1rem;
	color: #666; /* 文章色 */
	box-shadow: 0 0 5px 1px #c0c0c0;
	border-radius: 0px;
	&.letter-mine{
		background-color: #99dddd;  /* 手紙の色 */  
	}
	&.letter-yours{
		background-color: #F6D4D8;  /* 手紙の色 */
	}
}

.letter-header{
	text-align: center !important;
	height: 10%;
	margin: 10px 0px 20px 0px;
	font-size: 20px;
	font-weight: bold;
	overflow-wrap: break-word;
	text-align: left;
	padding: 0px 20px 0px 20px;
}

.letter-content{
	background-color: white;
	margin: 0px 0px 10px 0px;
	padding: 20px 10px 20px 10px !important;
	height: 300px;
	font-size: 15px;
	font-weight: bold;
	overflow-wrap: break-word;
	text-align: center ;
	display: grid;
	align-items: center;
	border-radius: 2rem;
}

.letter-footer{
	margin-bottom:10px;
	height: 10%;
	padding: 0px;
	font-size: 15px;
	font-weight: bold;
	line-height: 27px;
	.date-col{
	}
	.name-col{
		text-align: right;
		padding-right: 5px;
	}
}
.letter-date{
	margin: 0px 0px 0px 13px;
	padding: 0px 0px 0px 0px;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}