.modal-base{
  .modal-content{
    
    border-radius: 4em;

    .m-header{
      display: flex;
      justify-content: center;
      align-items: center;
      height:90px;
      text-align: center;
    }

    .m-image{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

     .m-body{
      margin: auto;
    }

    .m-footer{
      margin: 20px 0px 20px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}