.top-screen {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
  .area {
    scroll-snap-align: start;
    height: 100vh;
  }
  .card{
    height: 100vh;
  }

}

.top-title {
  position:relative;
  top: 30vh;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 2px;
  white-space: nowrap;
}

.top-authentication {
  position:relative;
  text-align: center;
  top: 60vh;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  br{
    margin-bottom: 2px;
  }
}

.top-p2-title {
  position:relative;
  top: 20vh;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 2px;
  white-space: nowrap;
}

.top-p2-body {
  position:relative;
  text-align: center;
  top: 20vh;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  br{
    margin-bottom: 2px;
  }
}
