<%# モーダルの共通部 %>

<div id="<%= yield(:id) %>" class="modal modal-base hide" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="header"><%= yield(:header) %> </div>
      <div class="body">  <%= yield(:body)   %> </div>
      <div class="footer"><%= yield(:footer) %> </div>
    </div>
  </div>
</div>