<%# 変数定義  %>
<%  
    id    = "hello-modal"
    title =  "#{current_user.name}さん。お久しぶりです！"
    image = "irasutoya/ojigi_kuma"
    text  =  "最後にログインしてから１週間経過すると、新規の手紙が届かなくなってしまいます。\nたまに様子を見に行きましょう!"
%>

<%# モーダル部分 %>
<div id="<%= id %>" class="modal modal-base" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="m-header">
        <h1><%= title %></h1>
      </div>
      <%= image_tag "#{image}", size: "143x200", class:"m-image center" %>
      <div class="m-body">
        <h3><%= text %></h3>
      </div>
      <div class="m-footer">
        <button type="button" class="btn custom btn-secondary m-1" data-bs-dismiss="modal" aria-label="Close">続ける</button>
      </div>
    </div>
  </div>
</div>