<%# "返信待ち"ボタンの確認モーダル %>
<%
    content_for(:id,  "no-reply-modal") # modal-id
    content_for(:header,"返信待ちです")  # 見出し
%>

<%# body %>
<% content_for :body do %>
  <div><%= image_tag "irasutoya/ojigi_kuma", size: "143x200", class:"center"  %></div>
  <div><h3>相手からの返信をまちましょう💦</h3></div>
<% end  %>

<%# footer(ボタン部分) %>
<% content_for :footer do %>
    <button type="button" class="btn custom btn-secondary m-1" data-bs-dismiss="modal" aria-label="Close">もどる</button>
<% end %>

<%= render"modals/base" %>