custom-card {
    margin: 20px 0px 20px 0px;
    padding: 20px 70px 20px 70px;
    height: auto;
    background-color: #ffffffc9 !important;
    border-radius: 1.2rem !important; 
    .card-title{line-height: 56px;
                text-align: center;
              }
  
    &#home {
      padding: 10px 10px 20px 10px;
      .btn{
        margin-top: 8px;
      }
    }
  
    &#send {
    }
  
    &#post {
      .card-content {
        margin: 10px 0px 10px 0px;
        padding-top: 10px;
        padding-left: 15px;
        height: 200px;
        border-radius: 1.0rem;
        font-size: 2.0rem;
        background-color: #9be3e33b;
        font-weight: bold;
        line-height: 2;
        .letter-count {
          font-size: 4rem;
        }
      }
    }
  
    &#tutorial {
      .card-content{
        margin: 10px 0px 10px 0px;
        padding-left: 15px;
        border-radius: 1.0rem;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 2;
      }
      .blue {background-color: #9be3e33b;}
      .pink {background-color: #e3a4c73b;}
    }
    &#notify {    
    }

    &#inbox {
      margin: 20px 0px 20px 0px;
      padding: 0px 0px 0px 0px;
    }      
    
  }

  .custom-btn {
    height: 40px ;
    width: 150px;
    border-radius:  1.3rem !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    line-height: 30px !important;
  }
  .custom-image {
    margin-top: 20px;
    background-color: black;
   }
