
.edit-form {
  margin: auto; //上右下左
  margin-left: 15%;
  margin-right: 15%;

  .form-field {
              
      .form-control {
          &.text { height: 80px; }
      }
  }

  .form-action {
      margin: 20px 0px 20px 0px;
  }

  .form-action {

  }
}
  .edit-card {
    margin: auto      !important; //上右下左
    margin-left: 15%  !important;
    margin-right: 15% !important;
    padding-top: 10px !important; 
    border-radius: 0% !important;
    margin: 0%;
  }
