#footer-nav {
  max-width: 650px;
  background-color: rgb(255, 255, 255) !important;
  padding:0px;
  margin:auto;
   .nav-item{
    color: black;
    margin: auto ;
    }
   .icon {
    padding: auto;
   }
}

.footer-button{
  width:100px;
  font-size: 65px;
}