.custom-form {
    margin: auto; //上右下左

    .form-column {
        margin: 10px 0px 0px 0px;
                
        .form-control {
            width: 100%;
            &.text { height: 80px; }
       }
    }

    .form-action {
        margin: 40px 0px 0px 0px;
        
        .btn{
            width:100px;
            height: 40px;
            font-size: 1.5rem;

        }
    }

}