#header {
  margin: 0 auto;    //ブロック要素レベルで中央揃え
  background-color: rgb(255, 255, 255);
}

.header_column {
  margin: auto;
  width:600px;
  font-size: 1.3rem;
  background-color: rgb(255, 255, 255);
  }

#logo {
  padding: 0;
  height: auto;
  line-height: 33px;
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
}

.nav-item{
  padding-right: 1.5rem;
  font-size: 1.6rem;
}