#header {
  padding-bottom: 0px; //nav-barに合わせて動的に取得
}

.navbar {
  &.custom {
   background-color: rgb(255, 255, 255) !important;
   justify-content:left;    
   margin: auto; 
  }
}

#header-logo {
  justify-content:center;
  padding: 0;
  height: auto;
  line-height: 33px;
  float: left;
  margin:auto;
  font-size: 2.0rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
}

.navbar-nav{
  margin: auto;
  left: 50%;
  text-align: center !important;
  padding-right: 1.5rem;
  font-size: 1.6rem;
}

