#home_button-row {
    margin-top : 40px;
    margin-left : 20px;
    margin-right : 20px; 

    .home-button-column {
      padding-top:    10px;
      padding-bottom: 10px;
  
      margin-top : 0px;
      margin-left : 20px;
      margin-right : 20px; 
  
      border-radius:  2.3rem;
      text-align: center;
    }
  }

