#preview-modal {
  .modal-footer{
    justify-content: center;
  }
}

#explanation-form {
  text-align: center;
  padding: 15px 0px 15px 0px;
  .title{
    font-size: large;
    font-weight: bold;    
  }
  .content{
    text-align: left;
    font-weight: bold;
  }
  .alert-content{
    font-size: small;
    text-align: left;
    font-weight: bold;
  }
}
