//
// 全体のレイアウト
//

#letter_title{
	padding: auto;
	align-items: center;
}

#letter_text-wrapper{
  min-height: 130px;
  padding: 42px 0px 20px;
  align-items: center;
}

.letter_text{
	max-width: max-content;
	font-size: 15px;
	font-weight: bold;
	overflow-wrap: break-word;
	text-align: left;
	margin: auto;
	line-height: 44px;

}
// 
// 01_ピンク
//

.LL_1{
	background-color: #F6D4D8;  /* 背景色 */
	border-radius: 5px;
	margin: 0px; /* 外側の余白 上下・左右 */
	padding: 0; /* 内側の余白 上・右・下・左 */
	position: relative;
	z-index: 0;
}
.LL_1:before{
	border: 1px solid #fff; /* 白い実線 */
	border-radius: 5px;
	content: '';
	display: block;
	margin: 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
}

// 
// 02_水色
//

.LL_2 {
	margin: 0;
	padding: 1em;
	width: 100%; /* ボックス幅 */
	background-color: #EEFFFF; /* ボックス背景色 */
	color: #666; /* 文章色 */
	box-shadow: 0 0 5px 1px #c0c0c0; /* 影 */
	border-radius: 10px; /* 角の丸み */
   }