//
// 全体のレイアウト
//
.letter{
}

.letter-header{
	font-size: 20px;
	font-weight: bold;
	overflow-wrap: break-word;
	text-align: left;
	padding: 0px 0px 0px 0px;
	margin: 8px 23px 0px 23px;
}

.letter-content{
	font-size: 15px;
	font-weight: bold;
	overflow-wrap: break-word;
	text-align: left;
	margin: 15px 30px 15px 30px;
	line-height: 27px;
	min-height: 100px;
	display: grid;
	align-items: center;
}

.letter-footer{
	padding: 0px 0px 0px 0px;
	font-size: 15px;
	font-weight: bold;
	overflow-wrap: break-word;
	margin: 0px 23px 7px 23px;
	line-height: 27px;
}
.letter-date{
	margin: 0px 0px 0px 13px;
	padding: 0px 0px 0px 0px;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}

// 
// 01_ピンク
//

.LL_ピンク {
	padding: 1em;
	background-color: #F6D4D8; /* ボックス背景色 */
	color: #666; /* 文章色 */
	box-shadow: 0 0 5px 1px #c0c0c0; /* 影 */
	border-radius: 0px; /* 角の丸み */
   }
   
// 
// 02_水色
//

.LL_水色 {
	padding: 1em;
	background-color: #EEFFFF; /* ボックス背景色 */
	color: #666; /* 文章色 */
	box-shadow: 0 0 5px 1px #c0c0c0; /* 影 */
	border-radius: 0px; /* 角の丸み */
   }