@import "bootstrap-sprockets";
@import "bootstrap";

//全般的なcssを定義

$gray-medium-light: #eaeaea;

#flash {
  margin: 0 auto;    //ブロック要素レベルで中央揃え
}

.body {
  background: url("top.jpg") center no-repeat;
  background-attachment: fixed;
  background-color:#e1e1e1;
  background-size:cover ;
}
.body_signed_in {
  margin: auto;
  background: #e1e1e1 center no-repeat;
  background-attachment: fixed;
  background-size:cover ;
}

#main {
  margin:auto;
  max-width: 700px;
}

  section {
    //ブロック幅に収まらない場合の処理
    overflow: auto;
  }
  
  textarea {
    //要素の寸法の可変設定
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  /* typography */
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 6em !important;
    letter-spacing: -2px !important;
    margin-bottom: 30px !important;
    text-align: center !important;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }