<%# 
　　受信した手紙を時系列ごとに並べた画面 
%>

<%# jsの自動スクロール用タグ %>
<div id="scroll-inner">

  <%# 手紙を表示(時系列順) %>
  <% @letters.each do |letter| %>
  <div class="room-letter">
    <%= render letter %>
  </div>
  <% end %>

  <%# Ajax:letter追加 %>
  <div id="add-modal" >
    <%# render 'letters/letter', letter: @letter %>
  </div>

  <%# ボタン(返信、破棄、非表示等) %>
  <div class="room-button center">
    <button type="button" class="btn custom btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#new-letter-modal">
    返信
    </button><br>
    
  <%# 初めての返信の場合  %>
  <% if @letters.count == 1 %>
    <button type="button" class="btn custom btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#new-letter-modal">
     海に流す
    </button><br>
    <button type="button" class="btn custom btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#new-letter-modal">
     破棄する
    </button>

  <%# 初めての返信でない場合 %>
  <% else %>
    <button type="button" class="btn custom btn-danger" data-bs-toggle="modal" data-bs-target="#new-letter-modal">
    非表示
    </button>
  </div>
  <% end %>
</div>

<%# 返信用modal %>
<%= render "modal/send_letter_modal", {type:"reply"}%>