<%# 
    //////////////////////////////////////
　  //受信した手紙を時系列ごとに並べた画面// 
    /////////////////////////////////////
%>

<%# jsの自動スクロール用タグ %>
<div id="scroll-inner">

<%# 
    ///////////////////////////////
    //     ↓手紙(時系列順)        // 
    /////////////////////////////// 
%>

  <% @letters.each do |letter| %>
    <div class="room-letter">
      <%= render letter %>
    </div>
  <% end %>

  <%# letter追加用タグ %>
  <div id="add-modal" >
    <%# (※Ajax) render 'letters/letter', letter: @letter %>
  </div>

<%#
    ///////////////////////////////
    //       ↓ボタン              // 
    ///////////////////////////////
%>

  <div class="room-button center">

  <%# if 最後の手紙が自分 %>
  <% if  @letters.last.user_id == current_user.id  %>
    <button id="no-reply-button" type="button" class="btn custom btn-secondary m-3" data-bs-toggle="modal" data-bs-target="#no-reply-modal">
      返信待ち
    </button><br>

  <%# if 最後の手紙が相手 %>
  <% else %>
      <button id="reply-button" type="button" class="btn custom btn-primary m-3" data-bs-toggle="modal" data-bs-target="#new-letter-modal">
      返信  <%# => 返信待ち(.js) %>
    </button><br> 
  <% end  %>
    
  <%# if 初めての返信  %>
  <% if @letters.count == 1 %>
    <button type="button" class="btn custom btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#release-letter-modal">
     流す
    </button><br>

  <%# if 初めての返信でない %>
  <% else %>
    <button type="button" class="btn custom btn-danger" data-bs-toggle="modal" data-bs-target="#new-letter-modal">
    非表示
    </button>
  </div>
  <% end %>
</div>

<%# modal %>
<%= render "modals/no_reply_modal" %>
<%= render "modals/release_modal" %>
<%= render "modals/send_letter_modal", {type:"reply"}%>