<footer id="footer">
  <nav id="footer-nav" class="navbar navbar-light fixed-bottom">
    <%= link_to root_url, class: "nav-item" do %>
      <i class="icon fa fa-backward fa-3x"></i>
    <% end %>
    <%= link_to root_url, class: "nav-item" do %>
      <i class="icon fa fa-home fa-3x"></i>
    <% end %>
    <%= link_to root_url, class: "nav-item" do %>
      <i class="icon fa fa-user fa-3x"></i>
    <% end %>
    <%= link_to inbox_record_url(id:current_user.id), class: "nav-item" do %>
      <i class="icon fa fa-inbox  fa-3x"></i>
    <% end %>
  </nav>
</footer>