<footer id="footer">
  <nav id="footer-nav" class="navbar navbar-light">
    <%= link_to "#", class: "nav-item nav-link", data: { turbolinks: :false } do %>
    <i class="fas fa-fire fa-lg inherit"></i>
    <% end %>
    <%= link_to "#", class: "nav-item nav-link" do %>
    <i class="fas fa-comments fa-lg inherit"></i>
    <% end %>
    <%= link_to "#", class: "nav-item nav-link" do %>
    <span class="">
      <i class="fas fa-user fa-lg inherit"></i>
    </span>
    <% end %>
  </nav>
</footer>